*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b3be1dae-3caa-4d45-be6c-3de586ba95e2/de46g7x-d7725171-4f49-4b7a-8868-106d473393db.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2IzYmUxZGFlLTNjYWEtNGQ0NS1iZTZjLTNkZTU4NmJhOTVlMlwvZGU0Nmc3eC1kNzcyNTE3MS00ZjQ5LTRiN2EtODg2OC0xMDZkNDczMzkzZGIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Rxl46bBrdesoUAUqZkSTr0ngx8q7H__v41xHbm0-lng");
  //  background-color: #2a2a2a;
  background-size: 100% 100%;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;

  h2 {
    color: white;
	 text-shadow: 1px 1px 20px black;
  }

  .form {
    width: 30%;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;

    &__input {
      background-color: white;
      border-radius: 2px;

      input {
        margin-left: 30px;
        border: none;
        outline: none;
      }
    }
  }

  .taskrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    min-height: 500px;
    margin: 0 auto 50px;
    padding-top: 50px;
  }
}
